.container {
  position: relative;

  display: flex;

  flex: 1;
  flex-direction: column;
}

.wrapper {
  position: absolute;
  z-index: -1;

  display: flex;

  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &::before {
    position: absolute;
    top: calc(-65vh - 10px);
    left: calc(-65vw - 100px);

    z-index: -1;

    width: 130vh;
    height: 130vh;

    background: linear-gradient(180deg, #4986cc 0%, #4986cc 100%);
    border-radius: 50%;
    opacity: 0.2;

    content: '';
  }

  &::after {
    position: absolute;
    top: -65vh;
    left: -65vw;

    z-index: -1;

    width: 130vh;
    height: 130vh;

    background: #4986cc;
    border-radius: 50%;
    opacity: 0.2;

    content: '';
  }
}

.grid {
  display: grid;
  grid-template-areas:
    'a b'
    'c b'
    'd d';
  grid-template-rows: repeat(2, 21.8vw) 56px;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  justify-content: initial;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: initial !important;
  height: 100%;
  margin: 0 !important;

  &:nth-child(2) {
    grid-area: b;
  }
  &:nth-child(4) {
    grid-area: d;
  }
}

.qrCodeWrapper {
  box-sizing: border-box;

  width: 100%;
  height: 100%;

  line-height: 0;
}

.qrCode {
  width: 100%;
  height: 100%;
}

.fixedLayout {
  position: fixed;
  bottom: 0;
  z-index: 2;

  box-sizing: border-box;
  width: 100%;
  padding-right: var(--safe-area-inset-right);
  padding-bottom: calc(var(--tabbar_height) + var(--safe-area-inset-bottom));
  padding-left: var(--safe-area-inset-left);
}
