// stylelint-disable selector-class-pattern
.score.vkuiSimpleCell .vkuiSimpleCell__children {
  font-weight: 600;
}

.headerCentered .vkuiHeader__in {
  justify-content: center;
}

.wordWrapper > .vkuiGroup__inner {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
