.content {
  display: grid;
  gap: 12px;
}

.timerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  background: linear-gradient(180deg, #4986cc 0%, #71abef 100%);
  border-radius: 10px;
}

.timerBackground {
  background: linear-gradient(180deg, #cc4949 0%, #fb8383 100%);
}

.title {
  margin-bottom: 16px;

  color: var(--white);
}

.clock {
  padding: 40px 0;

  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  font-family: var(--font-common);
  line-height: 20px;

  text-align: center;

  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);

  background: url('../../../assets/timer.svg') no-repeat center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;

  background: var(--background_content);
  border-radius: 10px;
}

.wordContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  aspect-ratio: 1/1;

  @supports not (aspect-ratio: auto) {
    position: relative;

    height: 0;
    padding-top: 100%;
    overflow: hidden;
  }
}

.wordWrapper {
  display: flex;
  flex: 1;
  max-width: 100%;

  @supports not (aspect-ratio: auto) {
    position: absolute;
    top: 50%;
    left: 50%;

    width: auto;
    max-width: 100%;
    height: auto;

    transform: translate(-50%, -50%);
  }
}

.word {
  display: block;

  font-weight: 600;
  font-size: 40px;
  font-family: var(--font-common);
  line-height: 40px;
  text-align: center;
}

.fixedLayout {
  position: fixed;
  bottom: 0;
  z-index: 2;

  box-sizing: border-box;
  width: 100%;
  padding-right: var(--safe-area-inset-right);
  padding-bottom: var(--safe-area-inset-bottom);
  padding-left: var(--safe-area-inset-left);
}
