.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 12px;
}

.fixedLayout {
  position: fixed;
  bottom: 0;
  z-index: 2;

  box-sizing: border-box;
  width: 100%;
  padding-right: var(--safe-area-inset-right);
  padding-bottom: var(--safe-area-inset-bottom);
  padding-left: var(--safe-area-inset-left);
}
