.container {
  position: relative;

  flex: 1;
}

.wrapper {
  position: absolute;
  z-index: -1;

  display: flex;

  flex: 1;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: calc(70px + var(--safe-area-inset-top));
  overflow: hidden;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &::before {
    position: absolute;
    top: calc(-65vh - 10px);
    left: calc(-65vw - 100px);

    z-index: -1;

    width: 130vh;
    height: 130vh;

    background: linear-gradient(180deg, #4986cc 0%, #4986cc 100%);
    border-radius: 50%;
    opacity: 0.2;

    content: '';
  }

  &::after {
    position: absolute;
    top: -65vh;
    left: -65vw;

    z-index: -1;

    width: 130vh;
    height: 130vh;

    background: #4986cc;
    border-radius: 50%;
    opacity: 0.2;

    content: '';
  }
}
