.container {
  position: fixed;

  right: env(safe-area-inset-right);
  left: env(safe-area-inset-left);
  z-index: 99;

  display: grid;
  gap: 12px;

  box-sizing: border-box;
  width: 100%;
  padding: 0 16px;
}

.top-ios {
  top: calc(env(safe-area-inset-top) + var(--panelheader_height_ios));
}

.top-andriod {
  top: calc(env(safe-area-inset-top) + var(--panelheader_height_andriod));
}

.top-vkcom {
  top: calc(env(safe-area-inset-top) + var(--panelheader_height_vkcom));
}

.bottom {
  bottom: env(safe-area-inset-bottom);
}

.ios {
  padding: 0 12px;
}

.andriod {
  padding: 0 16px;
}

.vkcom {
  padding: 0 16px;
}
